### Data Source: https://power.larc.nasa.gov/beta/data-access-viewer/  
### NASA/POWER CERES/MERRA2 Native Resolution Daily Data

- Geographic Region: the 27 countries in the dataset of NCBI Virus:
        'Gambia': Latitude  13.4479   Longitude -15.3796
        'Egypt':  Latitude  26.5186   Longitude 29.8595
        'Kenya':  Latitude  0.5135   Longitude 37.8897
        'Nigeria': Latitude  9.598   Longitude 8.1167
        'Tunisia': Latitude  34.1077   Longitude 9.5811 
        'Bahrain': Latitude  26.0514   Longitude 50.5651 
        'Japan':   Latitude  36.8496   Longitude 139.2935
        'Lebanon': Latitude  33.9103   Longitude 35.8852 
        'Thailand': Latitude  15.0529   Longitude 101.0232 
        'Vietnam':  Latitude  16.0093   Longitude 107.8333 
        'Iran':     Latitude  32.7923   Longitude 54.242 
        'India':    Latitude  23.0952   Longitude 79.2236 
        'Bangladesh':  Latitude  23.7898   Longitude 90.2885
        'Denmark':   Latitude  55.9193   Longitude 10.0539
        'France':    Latitude  46.5225   Longitude 2.4626 
        'Germany':   Latitude  51.0616   Longitude 10.3813
        'Switzerland': Latitude  46.7776   Longitude 8.2670
        'Italy':     Latitude  42.7362   Longitude 12.8553
        'Estonia':  Latitude  58.633   Longitude 25.4662
        'Poland':   Latitude  52.1356   Longitude 19.3688
        'United Kingdom':  Latitude  53.3618   Longitude -2.0135 
        'Mexico':   Latitude  23.7765   Longitude -102.5703
        'Canada':   Latitude  59.8442   Longitude -113.291
        'Brazil':  Latitude  -10.943   Longitude -52.9416
        'Chile':   Latitude  -31.8605   Longitude -71.2668
        'Colombia':  Location: Latitude  3.7763   Longitude -73.0318 
        USA-AL:  Latitude  32.8121   Longitude -87.0161
        USA-CT:  Latitude  41.583   Longitude -72.7575 
        USA-ID:  Latitude  44.3372   Longitude -114.6265 
        USA-SD:  Latitude  44.3372   Longitude -100.4102
        USA-UT:  Latitude  39.3155   Longitude -111.7057
        
 - Collection Date: `From Jan 1,2021 To Dex 31, 2023`
 - Elevation from MERRA-2: Average for 0.5 x 0.625 degree lat/lon region = 26.62 meters
 - The value for missing source data that cannot be computed or is outside of the sources availability range: -999 
 - Parameter(s): 
    - ALLSKY_SFC_SW_DWN     CERES SYN1deg All Sky Surface Shortwave Downward Irradiance (kW-hr/m^2/day) 
    - WS2M                  MERRA-2 Wind Speed at 2 Meters (m/s) 
    - PRECTOTCORR           MERRA-2 Precipitation Corrected (mm/day) 
    - RH2M                  MERRA-2 Relative Humidity at 2 Meters (%) 
    - QV2M                  MERRA-2 Specific Humidity at 2 Meters (g/kg) 
    - T2M_RANGE             MERRA-2 Temperature at 2 Meters Range (C) 
    - PS                    MERRA-2 Surface Pressure (kPa) 
    - WS50M_RANGE           MERRA-2 Wind Speed at 50 Meters Range (m/s) 
    - WS10M_RANGE           MERRA-2 Wind Speed at 10 Meters Range (m/s)

In [2]:
from pandas.core import frame
import pandas as pd
import glob

In [7]:
path = "../Data/Climate/nasa_data/Bahrain.csv"
df = pd.read_csv(path)
df['Location'] = path[26:-4]
df

,YEAR,MO,DY,ALLSKY_SFC_SW_DWN,WS2M,PRECTOTCORR,RH2M,QV2M,T2M_RANGE,PS,WS50M_RANGE,WS10M_RANGE,Location
0,2020,1,1,3.34,5.43,0.00,65.50,9.77,-271.04,101.51,3.36,2.69,Bahrain
1,2020,1,2,3.11,2.62,0.00,55.62,8.36,-271.02,101.76,4.77,3.88,Bahrain
2,2020,1,3,3.70,3.96,0.00,75.38,11.84,-268.13,101.63,5.70,5.01,Bahrain
3,2020,1,4,2.85,4.34,0.00,71.69,11.35,-267.09,101.25,4.90,5.12,Bahrain
4,2020,1,5,0.58,5.83,6.87,81.56,10.86,-268.98,101.44,9.07,8.02,Bahrain
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,2022,12,27,3.13,2.23,0.08,64.81,9.46,-270.96,101.65,5.02,4.01,Bahrain
1092,2022,12,28,2.81,8.16,0.09,72.56,9.28,-269.35,102.09,4.10,3.89,Bahrain
1093,2022,12,29,3.34,6.38,0.00,68.56,9.09,-269.42,102.47,3.00,2.59,Bahrain
1094,2022,12,30,2.34,4.27,0.98,62.50,8.54,-270.57,102.57,3.51,2.91,Bahrain
1095,2022,12,31,2.72,4.89,2.74,72.19,9.28,-270.17,102.54,6.98,6.59,Bahrain