In [1]:
import pandas as pd
import numpy as np

# Data on COVID-19 (coronavirus) by Our World in Data

reference: https://github.com/owid/covid-19-data/tree/master/public/data

## Raw data exploration

In [7]:
df_owid = pd.read_csv('owid-covid-data.csv', index_col='date', parse_dates=True)
df_owid.head()

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
date,,,,,,,,,,,,,,,,,,,,,
2020-01-03,AFG,Asia,Afghanistan,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2020-01-04,AFG,Asia,Afghanistan,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2020-01-05,AFG,Asia,Afghanistan,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2020-01-06,AFG,Asia,Afghanistan,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2020-01-07,AFG,Asia,Afghanistan,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [4]:
df_owid.shape

(297088, 67)

In [6]:
df_owid.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,2.614010e+05,2.886750e+05,2.874110e+05,2.409870e+05,288741.000000,287511.000000,261401.000000,288675.000000,287411.000000,240987.000000,...,170308.000000,112719.000000,203182.000000,273186.000000,223110.000000,2.970880e+05,1.020500e+04,10205.000000,10205.000000,10205.000000
mean,5.367080e+06,1.117552e+04,1.122060e+04,7.798592e+04,99.555030,99.947194,82039.197163,168.426708,169.110125,783.103792,...,32.910310,50.792548,3.097637,73.720106,0.722519,1.282278e+08,4.683279e+04,9.488196,13.073035,1437.715461
std,3.374066e+07,1.052843e+05,1.025490e+05,4.045377e+05,612.409212,602.917596,132106.663738,1144.707986,648.536060,1031.080905,...,13.573574,31.957248,2.548690,7.397221,0.148995,6.600827e+08,1.371560e+05,13.099374,26.692084,1822.875623
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-1984.281600
25%,5.999000e+03,0.000000e+00,1.286000e+00,1.160000e+02,0.000000,0.000000,1797.130000,0.000000,0.321000,47.095000,...,22.600000,20.859000,1.300000,69.590000,0.602000,4.490020e+05,1.930000e+01,0.370000,-0.990000,12.528376
50%,5.800800e+04,2.100000e+01,4.142900e+01,1.163000e+03,0.000000,0.286000,18217.910000,3.093000,11.824000,312.935000,...,33.100000,49.839000,2.500000,75.050000,0.740000,5.882259e+06,4.342600e+03,7.690000,6.800000,863.340940
75%,5.985810e+05,5.800000e+02,6.674290e+02,1.015950e+04,6.000000,7.143000,98122.608000,75.723000,111.035000,1188.394000,...,41.300000,83.241000,4.200000,79.460000,0.829000,2.830170e+07,3.104800e+04,15.460000,18.620000,2344.063000
max,7.610711e+08,7.946912e+06,6.405128e+06,6.879664e+06,20005.000000,14581.286000,729533.363000,228872.025000,37241.781000,6450.827000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.282260e+06,76.550000,376.770000,10329.523000

In [16]:
df_2020 = df_owid.loc['2020-01-01':'2020-12-31']

In [17]:
df_2020['continent'].unique()

array(['Asia', nan, 'Europe', 'Africa', 'Oceania', 'North America',
       'South America'], dtype=object)

In [24]:
df_null = df_2020.isna().mean()*100
df_null

iso_code                                    0.000000
continent                                   4.778889
location                                    0.000000
total_cases                                24.413033
new_cases                                   2.084199
                                             ...
population                                  0.000000
excess_mortality_cumulative_absolute       96.170762
excess_mortality_cumulative                96.170762
excess_mortality                           96.170762
excess_mortality_cumulative_per_million    96.170762
Length: 66, dtype: float64

In [25]:
df_null[:16]

iso_code                            0.000000
continent                           4.778889
location                            0.000000
total_cases                        24.413033
new_cases                           2.084199
new_cases_smoothed                  3.467101
total_deaths                       37.897420
new_deaths                          2.044813
new_deaths_smoothed                 3.390517
total_cases_per_million            24.413033
new_cases_per_million               2.084199
new_cases_smoothed_per_million      3.467101
total_deaths_per_million           37.897420
new_deaths_per_million              2.044813
new_deaths_smoothed_per_million     3.390517
reproduction_rate                  48.219951
dtype: float64

In [26]:
df_null[16:26]

icu_patients                          90.687293
icu_patients_per_million              90.687293
hosp_patients                         90.517713
hosp_patients_per_million             90.517713
weekly_icu_admissions                 98.161966
weekly_icu_admissions_per_million     98.161966
weekly_hosp_admissions                94.376491
weekly_hosp_admissions_per_million    94.376491
total_tests                           68.301569
new_tests                             69.099144
dtype: float64

In [28]:
df_null[26:46]

total_tests_per_thousand                      68.301569
new_tests_per_thousand                        69.099144
new_tests_smoothed                            64.031422
new_tests_smoothed_per_thousand               64.031422
positive_rate                                 67.230476
tests_per_case                                67.860660
tests_units                                   62.847640
total_vaccinations                            99.563467
people_vaccinated                             99.570031
people_fully_vaccinated                       99.808538
total_boosters                                99.986871
new_vaccinations                              99.622547
new_vaccinations_smoothed                     99.489070
total_vaccinations_per_hundred                99.563467
people_vaccinated_per_hundred                 99.570031
people_fully_vaccinated_per_hundred           99.808538
total_boosters_per_hundred                    99.986871
new_vaccinations_smoothed_per_million         99.489070
new_people_vaccinated_smoothed                99.524080
new_people_vaccinated_smoothed_per_hundred    99.524080
dtype: float64

In [29]:
df_null[46:]

stringency_index                           32.446774
population_density                         14.803834
median_age                                 20.791668
aged_65_older                              23.565130
aged_70_older                              21.588149
gdp_per_capita                             22.370408
extreme_poverty                            49.817291
cardiovasc_death_rate                      21.955756
diabetes_prevalence                        17.989760
female_smokers                             41.455329
male_smokers                               42.251811
handwashing_facilities                     61.767795
hospital_beds_per_thousand                 31.101070
life_expectancy                             7.649723
human_development_index                    24.361611
population                                  0.000000
excess_mortality_cumulative_absolute       96.170762
excess_mortality_cumulative                96.170762
excess_mortality                           96.170762
excess_mortality_cumulative_per_million    96.170762
dtype: float64

## Data Selection

In [30]:
col_selected = ['iso_code','continent','location','new_cases_per_million','new_cases_smoothed_per_million',
                'new_deaths_per_million','new_deaths_smoothed_per_million',
                'new_tests_per_thousand','new_tests_smoothed_per_thousand','positive_rate','people_vaccinated','people_fully_vaccinated',
                'people_vaccinated_per_hundred','people_fully_vaccinated_per_hundred',
                'stringency_index','population_density','median_age','aged_65_older','aged_70_older','gdp_per_capita','extreme_poverty',
                'cardiovasc_death_rate','diabetes_prevalence','female_smokers','male_smokers','hospital_beds_per_thousand',
                'life_expectancy','human_development_index','population']

In [33]:
df_owid = df_owid[col_selected]
df_owid.tail()

,iso_code,continent,location,new_cases_per_million,new_cases_smoothed_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,new_tests_per_thousand,new_tests_smoothed_per_thousand,positive_rate,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index,population
date,,,,,,,,,,,,,,,,,,,,,
2023-03-17,ZWE,Africa,Zimbabwe,0.0,0.341,0.0,0.0,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,1.7,61.49,0.571,16320539.0
2023-03-18,ZWE,Africa,Zimbabwe,0.0,0.166,0.0,0.0,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,1.7,61.49,0.571,16320539.0
2023-03-19,ZWE,Africa,Zimbabwe,0.0,0.053,0.0,0.0,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,1.7,61.49,0.571,16320539.0
2023-03-20,ZWE,Africa,Zimbabwe,0.0,0.000,0.0,0.0,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,1.7,61.49,0.571,16320539.0
2023-03-21,ZWE,Africa,Zimbabwe,0.0,0.000,0.0,0.0,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,1.7,61.49,0.571,16320539.0

In [32]:
df_owid.tail()

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
date,,,,,,,,,,,,,,,,,,,,,
2023-03-17,ZWE,Africa,Zimbabwe,264391.0,0.0,5.571,5672.0,0.0,0.0,16199.894,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
2023-03-18,ZWE,Africa,Zimbabwe,264391.0,0.0,2.714,5672.0,0.0,0.0,16199.894,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
2023-03-19,ZWE,Africa,Zimbabwe,264391.0,0.0,0.857,5672.0,0.0,0.0,16199.894,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
2023-03-20,ZWE,Africa,Zimbabwe,264391.0,0.0,0.000,5672.0,0.0,0.0,16199.894,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
2023-03-21,ZWE,Africa,Zimbabwe,264391.0,0.0,0.000,5672.0,0.0,0.0,16199.894,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [75]:
df_2020 = df_owid.loc['2020-01-01':'2020-12-31']
df_2020.shape

(91402, 29)

In [38]:
df_2020['continent'].unique()

array(['Asia', nan, 'Europe', 'Africa', 'Oceania', 'North America',
       'South America'], dtype=object)

In [41]:
locations = list(df_2020['location'].unique())
locations.remove('World')
len(locations)

251

In [45]:
print(locations)

['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Europe', 'European Union', 'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low income', 'Lower middle income', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North America', 'North Korea', 'North Macedonia', 'Northern Ireland', 'Northern Mariana Islands', 'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthelemy', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin (French part)', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South America', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Virgin Islands', 'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wales', 'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe']

In [69]:
# select locations where have enough sequenceing data in NCBI
location_selected = ['Djibouti','Gambia','Egypt','Kenya','Seychelles','Nigeria','South Africa','Tunisia',
                     'Bahrain','Japan','Lebanon','Thailand','Vietnam','Iran','India','Bangladesh','Hong Kong',
                     'Denmark','France','Germany','Iceland','Slovakia','Switzerland','Italy','Estonia','Poland','United Kingdom',
                     'Mexico','United States','Canada',
                     'New Zealand',
                     'Brazil','Chile','Colombia','Paraguay']
len(location_selected)

35

In [ ]:
# check exists
[x in locations for x in location_selected]

In [82]:
def get_csvBylocation(df, year, location_selected):
  for loc in location_selected:
    file_name = './'+ str(year) +'/'+ str(year) + '_' + loc + '.csv'
    data = df[df.location == loc]
    data.to_csv(file_name, index = True, encoding='utf-8')

In [78]:
get_csvBylocation(df_2020, 2020, location_selected)

In [83]:
df_2021 = df_owid.loc['2021-01-01':'2021-12-31']
df_2021.shape

(92659, 29)

In [84]:
get_csvBylocation(df_2021, 2021, location_selected)

In [85]:
df_2022 = df_owid.loc['2022-01-01':'2022-12-31']
df_2022.shape

(92685, 29)

In [87]:
get_csvBylocation(df_2022, 2022, location_selected)